<footer>
  <small>
    This template is maintained by <a href="https://www.moretaste.nl/">moretaste</a>.
    Build with <a href="https://www.11ty.io/" target="_blank" rel="noopener">11ty</a> 
    and <a href="https://www.netlifycms.org/" target="_blank" rel="noopener">Netlify CMS</a>,
    with deployment to <a href="https://www.netlify.com/" target="_blank" rel="noopener">Netlify</a>
  </small>
</footer>
